fastapi==0.116.1
gunicorn
indic_transliteration==2.3.72
joblib==1.5.1
lyricsgenius==3.7.1
nltk==3.9.1
numpy==2.3.2
pydantic==2.11.7
requests==2.32.5
scikit-learn==1.7.1
Unidecode==1.4.0
uvicorn==0.22.0
